body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  select, button {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #priceElement {
    font-size: 18px;
    font-weight: bold;
  }